@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'BMHANNAPro';
    font-style: normal;
    src: url('../assets/fonts/BMHANNAProOTF.otf') format('opentype');
}

@font-face {
    font-family: 'BMHANNAAir';
    font-style: normal;
    src: url('../assets/fonts/BMHANNAAir_otf.otf') format('opentype');
}

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;;

}

ol,ul,li {
    /* list-style: none; */
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

