@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BMHANNAPro';
    font-style: normal;
    src: url('../assets/fonts/BMHANNAProOTF.otf') format('opentype');
}

@font-face {
    font-family: 'BMHANNAAir';
    font-style: normal;
    src: url('../assets/fonts/BMHANNAAir_otf.otf') format('opentype');
}

*{
    box-sizing: border-box;
}

ol,ul,li {
    list-style: none;
}